{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb-typescript/base",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended",
        "plugin:eslint-comments/recommended"
    ],
    "rules": {
        "max-len": [
            "error",
            120
        ],
        "indent": "off",
        "@typescript-eslint/explicit-function-return-type": [
            "error",
            {
                "allowExpressions": true
            }
        ],
        "class-methods-use-this": "off",
        "eslint-comments/no-unused-disable": "error",
        "eslint-comments/disable-enable-pair": "off",
        "@typescript-eslint/no-explicit-any": "error",
        "@typescript-eslint/no-unused-vars": [
            "error",
            {
                "argsIgnorePattern": "^_.*$"
            }
        ]
    },
    "env": {
        "browser": false,
        "node": true,
        "jest": true
    },
    "settings": {
        "extensions": [
            ".js",
            ".ts"
        ]
    }
}
